# EDA - Exploratory Data Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('autos.csv')

In [3]:
df

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Problema corrigido para prosseguir no curso

Solução do problema com "?" e NaN
http://localhost:8888/notebooks/IBM%20Exerc%C3%ADcios%20Python/W2%20-%20Corrigindo%20problema%20com%20sinal%20de%20interroga%C3%A7%C3%A3o%20e%20NaN.ipynb

In [4]:
import numpy as np

In [5]:
df = df.replace('?', np.nan)

In [6]:
df

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Estatística descritiva

In [7]:
# Função describe

df.describe()

,Unnamed: 0,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,102.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,0.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,51.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,102.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,153.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,204.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [9]:
# fazendo um describe com variáveis categóricas. Ex.: Coluna 'drive-wheels'

df['drive-wheels']

0      rwd
1      rwd
2      rwd
3      fwd
4      4wd
      ...
200    rwd
201    rwd
202    rwd
203    rwd
204    rwd
Name: drive-wheels, Length: 205, dtype: object

In [11]:
drive_wheels_counts = df['drive-wheels'].value_counts().to_frame()

In [12]:
drive_wheels_counts

     drive-wheels
fwd           120
rwd            76
4wd             9

In [13]:
# Podemos alterar o nome da coluna para facilitar a leitura.

drive_wheels_counts.rename(columns = {'drive-wheels' : 'value_counts'}, inplace = True)

In [14]:
drive_wheels_counts

     value_counts
fwd           120
rwd            76
4wd             9

# GroupBy in Python (Agrupamento de dados)

In [17]:
# digamos que estamos interessados em encontrar o preço médio dos veículos e observar
# como eles diferem entre diferentes tipos de estilos de carroçaria (body-style) e
# variáveis de drive-wheels (rodas motrizes).

# primeiro escolhemos as três colunas de dados que estamos interessados, o que é feito na primeira linha de código.


df_test = df[['drive-wheels', 'body-style', 'price']]

In [18]:
df_test

    drive-wheels   body-style  price
0            rwd  convertible  13495
1            rwd  convertible  16500
2            rwd    hatchback  16500
3            fwd        sedan  13950
4            4wd        sedan  17450
..           ...          ...    ...
200          rwd        sedan  16845
201          rwd        sedan  19045
202          rwd        sedan  21485
203          rwd        sedan  22470
204          rwd        sedan  22625

[205 rows x 3 columns]

In [21]:
# Em seguida, agrupamos os dados reduzidos de acordo com as rodas motrizes (drive-wheels) e
# o estilo do corpo (body-style) na segunda linha.

df_grp = df_test.groupby(['drive-wheels', 'body-style', 'price'], as_index = False).mean()

In [22]:
df_grp

    drive-wheels body-style  price
0            4wd  hatchback   7603
1            4wd      sedan  11259
2            4wd      sedan  17450
3            4wd      sedan   9233
4            4wd      wagon  11694
..           ...        ...    ...
186          rwd      wagon  16515
187          rwd      wagon  16695
188          rwd      wagon  17075
189          rwd      wagon  18950
190          rwd      wagon  28248

[191 rows x 3 columns]

In [25]:
# sando o método .pivot do Panda, podemos girar a variável de estilo do corpo
# para que ela seja exibida ao longo das colunas e as rodas motrizes serão exibidas ao longo das linhas.


df_pivot = df_grp.pivot(index='drive-wheels', columns='body-style')

ValueError: Index contains duplicate entries, cannot reshape

In [26]:
df = df.reset_index(drop=True)

In [27]:
df_pivot = df_grp.pivot(index='drive-wheels', columns='body-style')

ValueError: Index contains duplicate entries, cannot reshape